body {
  font-family: Menlo;
  text-rendering: geometricPrecision;
  background-color: black;
  font-size: 18px;
  color: white;
  line-height: 100%;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

#title {
  font-size: 30px;
  font-weight: bold;
  color: black;
  top: 5%;
  left: 0%;
  text-align: center;
  background: url(imgs/paper.jpg);
  width: calc(25% - 16px);
}

#mixer {
  width: calc(25% - 20px);
  border: 2px solid #CCC;
  padding-top: 1vh;
  border-top: none;
  font-size: 1vw;
  text-align: center;
}

table {
  text-align: center;
  width: 100%;
}

#cvs {
 position: absolute;
 cursor: default;
 top: 0;
 left: 25%;
 bottom: 0;
 right: 0;
 z-index: -1;
 -webkit-user-select: none;
 overflow: hidden;
}

#help {
  height: 29%;
  width: calc((100% / 4) - 20px);
  position:absolute;
  background-color: black;
  border: 2px solid #CCC;
  overflow-y: auto;
  overflow-x: hidden;
  top: 70%;
  left: 8px;
  z-index: -1;
}

.help{
  font-family: monospace;
  line-height: 100%;
  padding: 10px;
  padding-bottom: 5px;
  margin: 0px; position: relative;
  box-sizing: border-box;
}

.h-content{
  padding-top: 0px;
  padding-left: 1em;
  color: #0d0;
}

/*jq console*/
#console {
  height: 29%;
  width: calc(((100% / 4) * 3) - 12px);
  position:absolute;
  background-color: black;
  border: 2px solid #CCC;
  top: 70%;
  left: 25%;
  z-index: -1;
}

.sel-sugg {
  color: black;
  background-color: #0d0;
  display: inline-block;
}

.jqconsole {
  padding: 10px;
  padding-bottom: 10px;
}
.jqconsole-cursor {
  background-color: #999;
}
.jqconsole-blurred .jqconsole-cursor {
  background-color: #666;
}
.jqconsole-prompt {
  color: #0d0;
}
.jqconsole-old-prompt {
  color: #0b0;
  font-weight: normal;
}
.jqconsole-input {
  color: #dd0;
}
.jqconsole-old-input {
  color: #bb0;
  font-weight: normal;
}
.brace {
  color: #00FFFF;
}
.paran {
  color: #FF00FF;
}
.bracket {
  color: #FFFF00;
}
.jqconsole-composition {
  background-color: red;
}

/* - - - - - - - - - - - - - - - Documentation - - - - - - - - - - - - - - */
.docBody {
  font-style: normal;
  font-size: 18px;
  overflow-y: auto;
  overflow-x: hidden;
  line-height: normal;
}

#docNav {
  position: absolute;
  transition: top 0.5s;
  top: 0;
  left: 0%;
  width: 20%;
  height: 100%;
}

#docContent {
  position: absolute;
  left: 25%;
  width: 70%;
  border: 2px solid #CCC;
}

a:link, a:visited {
  font-family: Menlo;
  background-color: ghostwhite;
  color: black;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
    background-color: #0d0;
}

a.docLink {
  line-height: normal;
  font-size: inherit;
  background-color: ghostwhite;
  color: black;
  padding: inherit;
  text-align: left;
  display: inline-block;
}

a:hover.docLink, a:active.docLink {
    background-color: #0d0;
}
